/*
 * CUSTOM THEME: METROPOLITAN TWILIGHT
 * --------------------
 * Defines custom styles for a particular PAUSE theme.
 * Should be included AFTER the default theme.
 */

//All variables should be modified and defined up here for
//ease of use.
//Background
$bodyColor: #fff;
$backgroundImage: "../../assets/images/backgrounds/metropolitanTwilight.gif";
//Fonts
$defaultFont: 'Joystix';
$fallbackFontColor: #874051;
$h1Color: #874051;
$h2Color: #734e76;
$h3Color: #fff;
$h4Color: #fdc7d3;
$liColor: $h4Color;
$timeColor: #fdc7d3;
$dateColor: $timeColor;
$sheenColor: rgba(160,40,70,0.7);
$sheenHoverColor: rgba(160,40,70,0.9);
//Screen
$screenContainerColor: rgba(0,0,0,0);
//Input Form (New Character/Settings)
$inputFormFontColor: rgba(160,40,70,0.8);
$inputFormFill: rgba(0,0,0,0);
$inputPlaceholderColor: #c5a5ac;
$continueTriangleColor: $h1Color;
$consoleFill: #fff;
$consoleOuterBorderColor: #e6bcd1;
$consoleInnerBorderColor: #b38bb7;
$consoleTextColor: #734e76;
//Experience Bar
$expbarOuterBorder: #dcb2d8;
$expbarInnerBorder: #923188;
$expbarBaseColor: #ce239c;
$expbarGradient: -webkit-linear-gradient(right, #ec40ba 10%, #ce239c);
$expbarBorderColor: $expbarBaseColor;
//Attributes
$attributeBorderColor: #874051;
$attributeFill: #f48da3;
//Todos
$todosFill: rgba(0,0,0,0);
$todosBorderColor: $consoleOuterBorderColor;
$todosInnerBorderColor: $consoleInnerBorderColor;
$todosCheckboxFill: $liColor;
$todosFontColor: #fdc7d3;
$todosFill: rgba(130,104,127,0.6);
$todosTitleColor: rgba(253, 209, 219, 0.8);
$todosTitleHoverColor: rgba(253, 209, 219, 1.0);
//Scrollbar
$scrollbarTrackFill: #fdc7d3;
$scrollbarThumbFill: #af6175;
//Gear Icon
$gearBackground: #fbc1cf;
$gearOuter: #874051;
$gearOuterShadow: #5c2834;
$gearInner: $gearBackground;
$gearInnerShadow: #e990a6;
$gearInnerRim: $gearOuterShadow;
$gearCenter: $gearBackground;
//Clock Icon
$clockBase: $gearBackground;
$clockFace: $gearOuter;
$clockHand: $gearBackground;
//Settings
$settingsBackgroundFill: $todosFill;
$settingsBorder: $todosBorderColor;
$settingsInnerBorder: $todosInnerBorderColor;
$settingsModalFill: #a54c7a;
$settingsModalTitleColor: #ed9ec6;
$settingsModalBorder: $settingsBorder;
$themeIconBorder: #ed9ec6;

/*
 * General Properties
 */

html, body {background-color: $bodyColor;}
body {background-image:url($backgroundImage);}
h1, h2, h3, h4, li, p, a {
 	font-family: $defaultFont, sans-serif;
 	color: $fallbackFontColor;
}

h1 {color: $h1Color;}
h2 {color: $h2Color;}
h3 {color: $h3Color;}
h4 {color: $h4Color;}
li {color: $liColor;}
.time h4 {color: $timeColor;}
.date h4 {color: $dateColor;}
.screen-container {background-color: $screenContainerColor;}
.sheen {
	color: $sheenColor;
}
.sheen:hover {
	color: $sheenHoverColor;
}

/*
 * Character Selection States
 */

.input-name, .input-birthday {
	background-color: $inputFormFill;
	color: $inputFormFontColor;
	border-color: $inputFormFontColor;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: $inputPlaceholderColor;
}

.continue_triangle {
	fill: $continueTriangleColor;
}

.console-name {

	background-color: $consoleFill;
	border-color: $consoleOuterBorderColor;
	box-shadow: 0 1px 0 5px $consoleInnerBorderColor inset;

	h4 {
		color: $consoleTextColor;
	}
}

/*
 * Status Screen State
 */

#expbarOuter {
	fill: $expbarOuterBorder;
}

#expbarInner {
	fill: $expbarInnerBorder;
}

#expbarBase {
	fill: $expbarBaseColor;
}

.expbar_fill {
	background: $expbarGradient;
	border-color: $expbarBorderColor;
}

.attribute {
	border-color: $attributeBorderColor;
}

.attribute-fill {
	background-color: $attributeFill;
}

.todos {
	background-color: $todosFill;
	border-color: $todosBorderColor;
}

.todos-inner {
	border-color: $todosInnerBorderColor;

	.checkbox {
		background-color: $todosCheckboxFill;
	}

	.textarea {
		color: $todosFontColor;
		// background-color: $todosFill;
	}

	h4 {
		color: $todosTitleColor;
	}

	h4:hover {
		color: $todosTitleHoverColor;
	}
}

::-webkit-scrollbar-track {
	background-color: $scrollbarTrackFill;
}

::-webkit-scrollbar-thumb {
	background-color: $scrollbarThumbFill;
}

/*
 * Gear Icon
 */

.gear-background {
	fill: $gearBackground;
}

.gear-outer {
	fill: $gearOuter;
}

.gear-outer-shadow {
	fill: $gearOuterShadow;
}

.gear-inner-shadow {
	fill: $gearInnerShadow;
}

.gear-inner {
	fill: $gearInner;
}

.gear-inner-rim {
	fill: $gearInnerRim;
}

.gear-center {
	fill: $gearCenter;
}

/*
 * Clock Icon
 */

.clock-base {
	fill: $clockBase;
}

.clock-face {
	fill: $clockFace;
}

.clock-hand {
	fill: $clockHand;
}

/*
 * Settings
 */

.settings {
	background-color: $settingsBackgroundFill;
	border-color: $settingsBorder;

	.divider {
		background-color: $settingsBorder;
	}
}

.settings-inner {
	border-color: $settingsInnerBorder;
}

.settings-tab, .settings-tab-right {
	background-color: $settingsBorder;
}

.settings-tab:after {
	border-color: transparent transparent $settingsBorder $settingsBorder;
}

.settings-tab-right:before {
	border-color: transparent $settingsBorder $settingsBorder transparent;
}

.theme-icon {
	border-color: $themeIconBorder;
}

.modal {
	border-color: $settingsModalBorder;
	background-color: $settingsModalFill;

	h2 {
		color:$settingsModalTitleColor;
	}
}