/*
 * CUSTOM_TEMPLATE.SCSS
 * --------------------
 * Defines custom styles for a particular PAUSE theme.
 * Should be included AFTER the default theme.
 */

//All variables should be modified and defined up here for
//ease of use.
//Background
$bodyColor: #59a3a9;
$backgroundImage: "../../assets/images/backgrounds/starryNight.gif";
//Fonts
$defaultFont: 'Joystix';
$fallbackFontColor: #b2d8dc;
$h1Color: #b2d8dc;
$h2Color: #a9becc;
$h3Color: $fallbackFontColor;
$h4Color: #c7d7f7;
$liColor: #b2d8dc;
$timeColor: #c7f3f7;
$dateColor: $timeColor;
$sheenColor: rgba(178, 216, 220, 0.7);
$sheenHoverColor: rgba(178, 216, 220, 1.0);
//Screen
$screenContainerColor: rgba(49, 71, 72, 0.0);
//Input Form (New Character/Settings)
$inputFormFontColor: $h2Color;
$inputFormFill: rgba(0,0,0,0);
$inputPlaceholderColor: #929292;
$continueTriangleColor: $h2Color;
$consoleFill: #e6f6f7;
$consoleOuterBorderColor: #576b76;
$consoleInnerBorderColor: #a9bfcc;
$consoleTextColor: #576b76;
//Experience Bar
$expbarOuterBorder: #A9BFCC;
$expbarInnerBorder: #3e4359;
$expbarBaseColor: #68cecf;
$expbarGradient: -webkit-linear-gradient(right, rgb(120,210,218) 20%, rgb(75, 195, 206));
$expbarBorderColor: #4bc3ce;
//Attributes
$attributeBorderColor: #78d2da;
$attributeFill: #4bc3ce;
//Todos
$todosFill: rgba(230, 246, 247, 0.1);
$todosBorderColor: #576b76;
$todosInnerBorderColor: #a9bfcc;
$todosCheckboxFill: #fff;
$todosFontColor: #b2d8dc;
$todosFill: rgba(0,0,0,0);
$todosTitleColor: rgba(199,215,247,0.6);
$todosTitleHoverColor: rgba(199,215,247,0.9);
//Scrollbar
$scrollbarTrackFill: #d6eaeb;
$scrollbarThumbFill: #89a0a2;
//Gear Icon
$gearBackground: #a8becb;
$gearOuter: #54686e;
$gearOuterShadow: #263a41;
$gearInner: #a8becb;
$gearInnerShadow: #97b7ca;
$gearInnerRim: #263a41;
$gearCenter: #a8becb;
//Clock Icon
$clockBase: $gearBackground;
$clockFace: $gearOuter;
$clockHand: $gearBackground;
//Settings
$settingsBackgroundFill: $todosFill;
$settingsBorder: $todosBorderColor;
$settingsInnerBorder: $todosInnerBorderColor;
$settingsModalFill: rgba(20, 30, 38, 1.0);
$settingsModalTitleColor: $h2Color;
$settingsModalBorder: $gearInner;
$themeIconBorder: $todosInnerBorderColor;

/*
 * General Properties
 */

html, body {background-color: $bodyColor;}
body {background-image:url($backgroundImage);}
h1, h2, h3, h4, li, p, a {
 	font-family: $defaultFont, sans-serif;
 	color: $fallbackFontColor;
}

h1 {color: $h1Color;}
h2 {color: $h2Color;}
h3 {color: $h3Color;}
h4 {color: $h4Color;}
li {color: $liColor;}
.time h4 {color: $timeColor;}
.date h4 {color: $dateColor;}
.screen-container {background-color: $screenContainerColor;}
.sheen {
	color: $sheenColor;
}
.sheen:hover {
	color: $sheenHoverColor;
}

/*
 * Character Selection States
 */

.input-name, .input-birthday {
	background-color: $inputFormFill;
	color: $inputFormFontColor;
	border-color: $inputFormFontColor;
}

.continue_triangle {
	fill: $continueTriangleColor;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: $inputPlaceholderColor;
}

.console-name {

	background-color: $consoleFill;
	border-color: $consoleOuterBorderColor;
	box-shadow: 0 1px 0 5px $consoleInnerBorderColor inset;

	h4 {
		color: $consoleTextColor;
	}
}

/*
 * Status Screen State
 */

 #expbarOuter {
 	fill: $expbarOuterBorder;
 }

 #expbarInner {
 	fill: $expbarInnerBorder;
 }

 #expbarBase {
 	fill: $expbarBaseColor;
 }

 .expbar_fill {
 	background: $expbarGradient;
 	border-color: $expbarBorderColor;
 }

 .attribute {
 	border-color: $attributeBorderColor;
 }

 .attribute-fill {
 	background-color: $attributeFill;
 }

 .todos {
 	background-color: $todosFill;
 	border-color: $todosBorderColor;
 }

 .todos-inner {
 	border-color: $todosInnerBorderColor;

 	.checkbox {
 		background-color: $todosCheckboxFill;
 	}

 	.textarea {
 		color: $todosFontColor;
 		background-color: $todosFill;
 	}

 	h4 {
 		color: $todosTitleColor;
 	}

 	h4:hover {
 		color: $todosTitleHoverColor;
 	}
 }

 ::-webkit-scrollbar-track {
 	$background-color: $scrollbarTrackFill;
 }

 ::-webkit-scrollbar-thumb {
 	$background-color: $scrollbarThumbFill;
 }


/*
 * Gear Icon
 */

.gear-background {
	fill: $gearBackground;
}

.gear-outer {
	fill: $gearOuter;
}

.gear-outer-shadow {
	fill: $gearOuterShadow;
}

.gear-inner-shadow {
	fill: $gearInnerShadow;
}

.gear-inner {
	fill: $gearInner;
}

.gear-inner-rim {
	fill: $gearInnerRim;
}

.gear-center {
	fill: $gearCenter;
}

/*
 * Clock Icon
 */

.clock-base {
	fill: $clockBase;
}

.clock-face {
	fill: $clockFace;
}

.clock-hand {
	fill: $clockHand;
}

/*
 * Settings
 */

.settings {
	background-color: $settingsBackgroundFill;
	border-color: $settingsBorder;

	.divider {
		background-color: $settingsBorder;
	}
}

.settings-inner {
	border-color: $settingsInnerBorder;
}

.settings-tab, .settings-tab-right {
	background-color: $settingsBorder;
}

.settings-tab:after {
	border-color: transparent transparent $settingsBorder $settingsBorder;
}

.settings-tab-right:before {
	border-color: transparent $settingsBorder $settingsBorder transparent;
}

.theme-icon {
	border-color: $themeIconBorder;
}

.modal {
	border-color: $settingsModalBorder;
	background-color: $settingsModalFill;

	h2 {
		color:$settingsModalTitleColor;
	}
}