/*
 * CUSTOM_TEMPLATE.SCSS
 * --------------------
 * Defines custom styles for a particular PAUSE theme.
 * Should be included AFTER the default theme.
 */
/*
 * General Properties
 */
html, body {
  background-color: #fff; }

body {
  background-image: url(""); }

h1, h2, h3, h4, li, p, a {
  font-family: "", sans-serif;
  color: #fff; }

h1 {
  color: #fff; }

h2 {
  color: #fff; }

h3 {
  color: #fff; }

h4 {
  color: #fff; }

li {
  color: #fff; }

.time h4 {
  color: #fff; }

.date h4 {
  color: #fff; }

.screen-container {
  background-color: transparent; }

.sheen {
  color: transparent; }

.sheen:hover {
  color: transparent; }

/*
 * Character Selection States
 */
.input-name, .input-birthday {
  background-color: transparent;
  color: #fff;
  border-color: #fff; }

.continue_triangle {
  fill: #fff; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff; }

.console-name {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 1px 0 5px #fff inset; }
  .console-name h4 {
    color: #fff; }

/*
 * Status Screen State
 */
#expbarOuter {
  fill: #fff; }

#expbarInner {
  fill: #fff; }

#expbarBase {
  fill: #fff; }

.expbar_fill {
  background: -webkit-linear-gradient(right, #fff 0%, #fff);
  border-color: #fff; }

.attribute {
  border-color: #fff; }

.attribute-fill {
  background-color: #fff; }

.todos {
  background-color: transparent;
  border-color: #fff; }

.todos-inner {
  border-color: #fff; }
  .todos-inner .checkbox {
    background-color: #fff; }
  .todos-inner .textarea {
    color: #fff;
    background-color: transparent; }
  .todos-inner h4 {
    color: #fff; }
  .todos-inner h4:hover {
    color: #fff; }

/*
 * Gear Icon
 */
.gear-background {
  fill: #fff; }

.gear-outer {
  fill: #fff; }

.gear-outer-shadow {
  fill: #fff; }

.gear-inner-shadow {
  fill: #fff; }

.gear-inner {
  fill: #fff; }

.gear-inner-rim {
  fill: #fff; }

.gear-center {
  fill: #fff; }

/*
 * Settings
 */
.settings {
  background-color: #fff;
  border-color: #fff; }

.settings-inner {
  border-color: #fff; }

.settings-tab {
  background-color: #fff; }

.settings-tab:after {
  border-color: transparent transparent #fff #fff; }

.theme-icon {
  border-color: #fff; }

.modal {
  border-color: #fff;
  background-color: #fff; }
  .modal h2 {
    color: #fff; }
