/*
 * NEWNAME.HTML
 */
.typed {
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  -webkit-animation: type 3s 1s steps(60, end) forwards;
  display: inline-block; }

.typed2 {
  -webkit-animation: type2 3s 1s steps(60, end) forwards; }

.typed3 {
  -webkit-animation: type3 3s 1s steps(60, end) forwards; }

@-webkit-keyframes type {
  5% {
    opacity: 1; }
  100% {
    width: 32em;
    opacity: 1.0; } }
@-webkit-keyframes type2 {
  5% {
    opacity: 1; }
  100% {
    width: 43em;
    opacity: 1.0; } }
@-webkit-keyframes type3 {
  5% {
    opacity: 1; }
  100% {
    width: 45em;
    opacity: 1.0; } }
.noflash {
  opacity: 0;
  -webkit-animation: noflash 3s forwards; }

@-webkit-keyframes noflash {
  5%, 100% {
    opacity: 1; } }
span {
  width: 10px;
  height: 20px;
  margin-left: 5px;
  background-color: #576b76;
  display: inline-block;
  -webkit-animation: blink 1s infinite; }

.form-name {
  margin: 20px auto;
  text-align: center; }

.input-name {
  font-family: 'Joystix';
  font-size: 4em;
  width: 10em;
  color: #a9becc;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  border-bottom-style: solid;
  border-color: #a9becc; }

.input-name:focus {
  outline: 0; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

.console-name {
  width: 93%;
  margin: 20px auto;
  background-color: #e6f6f7;
  border: 5px solid #576b76;
  box-shadow: 0 1px 0 5px #a9bfcc inset;
  -webkit-animation: fadein 2s forwards;
  opacity: 0; }
  .console-name h4 {
    color: #576b76; }

.gender-picker {
  width: 100%;
  height: 150px;
  margin: 30px auto; }

.gender-symbol {
  width: 145px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  cursor: pointer; }

.gender-symbol:hover {
  opacity: 1.0; }

.grid-block {
  display: inline-block;
  vertical-align: top; }

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none; }

::-webkit-datetime-edit-text {
  opacity: 0; }

input[type=date]::-webkit-datetime-edit-day-field,
input[type=date]::-webkit-datetime-edit-month-field {
  display: inline-block;
  posiiton: relative; }

input[type=date]::-webkit-datetime-edit-month-field {
  margin-left: 40px; }

input[type=date]::-webkit-datetime-edit-year-field {
  display: none; }

.input-birthday {
  font-family: 'Joystix';
  font-size: 4em;
  width: 6em;
  color: #a9becc;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-color: #a9becc; }

.input-birthday:focus {
  outline: 0; }

.rightarrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  position: relative;
  opacity: 0.6;
  cursor: pointer; }

.rightarrow:hover {
  opacity: 1.0; }

.continue_triangle {
  fill: #b2d8dc; }
