// @import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

//VARIABLES
$bodyColor: #59a3a9;
$screenColor: #e6f6f7;

//STYLES

@font-face {
    font-family: 'Joystix';
    src: url('fonts/joystix_monospace.ttf');
}

html, body {
    width: 100%;
    background-color: $bodyColor;
}


h1, h2, h3, h4, h5, h6, li {
    font-family: 'Joystix', sans-serif;
    color: #fd982b;
}

h1 {
    font-size: 4em;
    margin: 20px 0 0 0;
}

h2 {
    font-size: 3em;
    margin: 40px 0 0 0;
}

h3 {
    font-size: 2em;
    margin: 20px 0 0 0;
}

h4 {
    color: #fcb05e;
    font-size: 1.5em;
    margin: 20px 0 0 0;
}

.text-center {
    text-align: center;
}

.outer_frame {
    width: 100%;
    height: 100px;
    background-color: #59a3a9;
}

.time {
    position: relative;
    display: inline-block;
    top:-50px;
    left:30%;

    h4 {
        color:#c7f3f7;
    }
}

.date {
    position: relative;
    display: inline-block;
    top:-50px;
    left:54%;

    h4 {    
        color:#c7f3f7;
    }
}

.screen-container {
    width: 100%;
    background-color: $screenColor;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.screen {
    width: 70%;
    margin: 0 auto;
}

.expbar {
    width: 204px;
    height: 26px;
    background-image:url('../assets/images/expbar.png');
}

.expbar_fill {
    position:relative;
    height: 24px;
    margin: 10px auto 20px auto;
    background-color: #78d2da;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.left {
    width:120px;
    height:100%;
    margin: 0 0 20px 0;
    left:50px;
    position:relative;
    display:inline-block;
}

.right {
    width:350px;
    height:100%;
    left:70px;
    top:-100px;
    position:relative;
    display:inline-block;
}

.avatar-card {
    background-image:url('../assets/images/avatar_card.png');
    width:100%;
    height:185px;
}

.avatar {
    width:100%;
    height:100%;
    background-image:url('../assets/images/avatar_test.png');
    background-repeat:no-repeat;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

li {
    font-size: 1.3em;
    color: #fd982b  ;
}

.tooltip-center .qtip-content{
    text-align: center;
    font-size: 2em;
    font-family: 'Joystix';
}

.typed {
    white-space: nowrap;
    overflow: hidden;
    width: 31em;
    -webkit-animation: type 3s steps(60, end); 
    display:inline-block;
}

@-webkit-keyframes type{ 
    from { width: 0; } 
} 

span{
    width: 10px;
    height: 20px;
    margin-left:5px;
    background-color:#fcb05e;
    display:inline-block;
    -webkit-animation: blink 1s infinite;
}

@-webkit-keyframes blink{
    to{opacity: .0;}
}

.form-name {
    margin: 20px auto;
    text-align: center;
}

.input-name {
    font-family: 'Joystix';
    font-size: 4em;
    width: 10em;
    color:#fd982b;
    text-align:center;
    margin: 0 auto;
    background-color: $screenColor;
    border: none;
    border-bottom-style: solid;
}

.input-name:focus {
    outline: 0;
}