// @import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

//VARIABLES
$bodyColor: #59a3a9;
$h1Color: #b2d8dc;
$h2Color: #a9becc;
$screenColor: #e6f6f7;
$screenColorRGBA: rgba(49, 71, 72, 0.0);

//STYLES

@font-face {
    font-family: 'Joystix';
    src: url('fonts/joystix_monospace.ttf');
}

html, body {
    width: 100%;
    height: 100%;
    background-color: $bodyColor;
    margin: 0;
}

body {
    background-image: url('../assets/images/starryNightFull.gif');
    background-size: cover;
    background-repeat:no-repeat;
}


h1, h2, h3, h4, h5, h6, li {
    font-family: 'Joystix', sans-serif;
    color: $h1Color;
}

h1 {
    font-size: 4em;
    margin: 20px 0 0 0;
}

h2 {
    font-size: 3em;
    margin: 40px 0 0 0;
}

h3 {
    font-size: 2em;
    margin: 20px 0 0 0;
}

h4 {
    color: #fcb05e;
    font-size: 1.5em;
    margin: 20px 0 0 0;
}

.text-center {
    text-align: center;
}

/*
 * MAIN.HTML
 */

.time {
    position: relative;
    display: inline-block;
    top:-50px;
    left:30%;

    h4 {
        color:#c7f3f7;
    }
}

.date {
    position: relative;
    display: inline-block;
    top:-50px;
    left:54%;

    h4 {    
        color:#c7f3f7;
    }
}

.screen-container {
    width: 100%;
    background-color: $screenColorRGBA;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.screen {
    width: 70%;
    margin: 0 auto;
}

/*
 * STATUS.HTML
 */

.expbar {
    width: 204px;
    height: 26px;
    background-image:url('../assets/images/expbar.png');
    background-position:center;
    position:relative;
    top:-1px;
}

.expbar_fill {
    position:relative;
    height: 23px;
    margin: 10px auto 20px auto;
    background-color: #78d2da;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.left {
    width:30%;
    height:100%;
    margin: 0;
    display:inline-block;
    vertical-align: top;
}

.right {
    width:60%;
    height:100%;
    margin:0;
    display:inline-block;
    vertical-align: top;
}

.avatar-card {
    background-image:url('../assets/images/avatar_card.png');
    background-repeat:no-repeat;
    margin: 0 auto;
    width:120px;
    height:185px;
}

.avatar {
    width:100%;
    height:100%;
    background-image:url('../assets/images/avatar_test.png');
    background-repeat:no-repeat;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

li {
    font-size: 1.3em;
    color: #fd982b  ;
}

.tooltip-center .qtip-content{
    text-align: center;
    font-size: 2em;
    font-family: 'Joystix';
}

/*
 * NEWCHARACTER.HTML
 */

.typed {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    -webkit-animation: type 3s 2s steps(60, end) forwards; 
    display:inline-block;
}

span{
    width: 10px;
    height: 20px;
    margin-left:5px;
    background-color:#576b76;
    display:inline-block;
    -webkit-animation: blink 1s infinite;
}

.form-name {
    margin: 20px auto;
    text-align: center;
}

.input-name {
    font-family: 'Joystix';
    font-size: 4em;
    width: 10em;
    color:$h2Color;
    text-align:center;
    margin: 0 auto;
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom-style: solid;
    border-color: $h2Color;
}

.input-name:focus {
    outline: 0;
}

.console-name {
    width: 93%; 
    margin: 20px auto; 
    background-color: #e6f6f7;
    border: 5px solid #576b76;
    box-shadow: 0 0 0 5px #a9bfcc inset;
    -webkit-animation: fadein 2s forwards;
    opacity:0;

    h4 {
        color: #576b76;
    }
}

/*
 * ANIMATIONS
 */

@-webkit-keyframes type{ 
    to { width: 32em; } 
} 
    
@-webkit-keyframes blink{
    to{opacity: .0;}
}

@-webkit-keyframes fadein {
    100%{opacity: 1;}
}

/*
 *
 */

 .screen-animate.ng-enter, .screen-animate.ng-leave {

 }

