// @import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

//VARIABLES
$bodyColor: #59a3a9;
$h1Color: #b2d8dc;
$h2Color: #a9becc;
$h4Color: #c7d7f7;
$liColor: #b2d8dc;
$screenColor: #e6f6f7;
$screenColorRGBA: rgba(49, 71, 72, 0.0);

//STYLES

@font-face {
    font-family: 'Joystix';
    src: url('fonts/joystix_monospace.ttf');
}

html, body {
    width: 100%;
    height: 100%;
    background-color: $bodyColor;
    margin: 0;
}

body {
    background-image: url('../assets/images/starryNightFull.gif');
    background-size: cover;
    background-repeat:no-repeat;
    min-width:800px;
}


h1, h2, h3, h4, h5, h6, li, p {
    font-family: 'Joystix', sans-serif;
    color: $h1Color;
    -webkit-user-select: none;
}

h1 {
    font-size: 4em;
    margin: 20px 0 0 0;
}

h2 {
    font-size: 3em;
    margin: 40px 0 0 0;
}

h3 {
    font-size: 2em;
    margin: 20px 0 0 0;
}

h4 {
    color: $h4Color;
    font-size: 1.5em;
    margin: 20px 0 0 0;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

li {
    font-size: 1.3em;
    color: $liColor;
}

.text-center {
    text-align: center;
}

/*
 * MAIN.HTML
 */

.time {
    position: absolute;
    display: inline-block;
    top:-50px;
    left:30%;

    h4 {
        color:#c7f3f7;
    }
}

.date {
    position: absolute;
    display: inline-block;
    top:-50px;
    right: 30%;

    h4 {    
        color:#c7f3f7;
    }
}

.screen-container {
    width: 100%;
    background-color: $screenColorRGBA;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.screen {
    width: 70%;
    margin: 0 auto;
}

/*
 * ANIMATIONS
 */
 
@-webkit-keyframes blink{
    to{opacity: .0;}
}

@-webkit-keyframes fadein {
    100%{opacity: 1;}
}

.sheen {
    color: rgba(178, 216, 220, 0.7);
    background-image:-webkit-linear-gradient(
        top left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    );
    background-position:100% 100%;
    background-size:250% 250%, 100% 100%;
    -webkit-animation: sheen 6s infinite;
    -webkit-background-clip: text;
    // -webkit-transition:background-position 0s ease;
}

@-webkit-keyframes sheen {
    50%, 100%{background-position: 0 0;}
}

.sheen:hover {
    color: rgba(178, 216, 220, 1.0);
}

.sheen-image {
    -webkit-background-clip: content-box;
}

