
.settings {
	height:500px;
	width:100%;
	background-color: rgba(230, 246, 247, 0.1);
    border: 5px solid #576b76;

    .divider {
    	margin: 20px 0 20px 0; 
    	width: 100%; 
    	height:5px;
    }
}

.settings-inner {
	border: 5px solid #a9bfcc;
	height:86.2%;
	padding:30px;
}

.settings-tab, .settings-tab-right {
	display:inline-block;
	margin-top:30px;
	width:100px;
	height:30px;
	background-color:#576b76;
	border-radius: 10px 10px 0px 0px;
	position: relative;
	margin-bottom:-5px;
	margin-right:-1px;
	margin-right:20px;
	vertical-align:top;
	opacity: 0.8;
	cursor:pointer;

	p {
		margin: 7px auto;
	}
}

.settings-tab-right {
	//i don't know why, but animating the settings fucks with my life
	top:-59px; 
}

.settings-tab-active {
	opacity: 1.0;
}

.settings-tab:after {
	border-color: transparent transparent #576b76 #576b76;
  	border-style: solid;
  	border-width: 14px 14px 14px 14px;
  	height:0;
  	width:0;
  	position:absolute;
  	bottom:0px;
  	right:-24px;
  	content: ' ';
}

.settings-tab-right {
	float:right;
}

.settings-tab-right:before {
	border-color: transparent #576b76 #576b76 transparent;
  	border-style: solid;
  	border-width: 14px 14px 14px 14px;
  	height:0;
  	width:0;
  	position:absolute;
  	bottom:0px;
  	// right:-24px;
  	left:-24px;
  	content: ' ';
}

.settings li {
	font-size: 2em;
	margin-bottom:10px;
}

.checkbox {
	width:20px; 
	height:20px; 
	display:inline-block; 
	background-color:#fff; 
	vertical-align:middle;
	opacity: 0.6;
	cursor:pointer;
}

.checkbox:hover {
	opacity: 0.9;
}

.checkmark-svg {
	display: block;
}

.checkmark {
	fill: #0d121a;
}

.modal {
	width: 700px;
	// height: auto;
	position:absolute;
	background-color:rgba(20, 30, 38, 1.0);
	border: #a8becb 5px solid;
  	overflow: auto;
  	position: absolute;
  	top:30%;
  	left:50%;
  	margin-left:-350px;
  	padding: 20px;
}

.modal-close {
	position:absolute;
	width:25px;
	height:25px;
	background-color:#a9becc;
	top:20px;
	opacity: 0.8;
	cursor:pointer;
}

.modal-close:hover, .modal-booleanoption:hover, .theme-icon:hover, .settings-tab:hover, .settings-tab-right:hover {
	opacity: 1.0;
}

.modal-booleanoption {
	display: inline-block;
	position: relative;
	width:100px;
	height:40px;
	margin:40px;
	opacity: 0.8;
	cursor:pointer;
}

.theme-icon {
	width: 130px;
	height: 130px;
	display: inline-block;
	margin: 25px;
	background-color: #576b76;
	background-size:contain;
	border: 5px #a9bfcc solid;
	opacity: 0.8;
	cursor:pointer;
}
