
.simple-container {
	width:90%;
	height:100%;
	position:relative;
	margin: 0 auto;

	h4 {
		position:absolute; 
		left:3%; 
		top: 3%; 
		opacity:0.7;
		cursor:pointer;
	}

	h4:hover {
		opacity: 0.9;
	}

	.contents {
		position:absolute;
		top:30%;
		left: 0;
		right: 0;
		margin: 0 auto;

		h1 {
			font-size:8.5vw;
		}

		h2 {
			margin: 0; 
			font-size:3.25vw;
		}
	}

}