/*
 * STATUS.HTML
 */

 .level_info {
    margin-top:0px;
 }

#expbarOuter {
    fill: #A9BFCC;
}

#expbarInner {
    fill: #3e4359;
}

#expbarBase {
    fill: #68cecf;
}


.expbar_outer {
    position:relative;
    height:26px;
    width:204px;
    margin: 10px auto 50px auto;
}

.expbar {
    position:absolute;
    width: 204px;
    height: 26px;
}

.expbar_fill {
    // display:none;
    position:absolute;
    z-index:1;
    width:0;
    height: 12px;
    top:4px;
    left:6px;
    background: -webkit-linear-gradient(right, rgb(120,210,218) 20%, rgb(75, 195, 206));
    border: none;
    border-top: 3px #4bc3ce solid;
    border-bottom: 3px #4bc3ce solid;
}

.expbar_transition {
    -webkit-transition: width 1s;
}

@-webkit-keyframes expandwidth {
    100% {width: 193px;}
}

.container {
    width: 80%; 
    height: 300px; 
    margin: 0 auto;
}

.left {
    width:40%;
    height:100%;
    margin: 0;
    display:inline-block;
    vertical-align: top;

    position:relative; 
    top:20%;
    left:-5%;
}

.right {
    width:60%;
    height:100%;
    margin:0;
    display:inline-block;
    vertical-align: top;
}

.avatar-card {
    // background-image:url('../assets/images/avatar_card.png');
    // background-repeat:no-repeat;
    background-color:rgba(181, 203, 219, 0.5);
    margin: 0 10px;
    width:70%;
    height:200px;
    border-radius:5px;
    display: inline-block;
}

.avatar {
    // width:100%;
    // height:100%;
    // background-image:url('../assets/images/avatar_test.png');
    // background-repeat:no-repeat;
}

.tooltip-center .qtip-content{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Joystix';
}

.attributes {
    width: 312px; 
    margin-top:15px;

    li {
        display:inline;
    }
}

.attribute {
    display:inline-block;
    width: 95px; 
    height:13px; 
    border-radius: 10px;
    border: 3px #78d2da solid;
    vertical-align:middle;
    margin: 0 5px 5px 5px;
}

.attribute-fill {
    background-color:#4bc3ce;
    border-radius:10px;
    width:0%;
    height:100%;
    -webkit-transition: width 3s;
}

.container .gender-symbol {
    width: 47px;
    height: 50px;
    background-repeat:no-repeat;
    background-position: center;
    background-size:contain;
    opacity: 0.6;
    cursor: default;
}

.container .gender-symbol:hover {
    opacity: 1.0;
}

.grid-block {
    display: inline-block;
    vertical-align: middle;
}

.todos {
    background-color: rgba(230, 246, 247, 0.1);
    border: 5px solid #576b76;
    opacity: 0;
    -webkit-animation: fadein 2s forwards;
    width:100%; 
    height:280px; 
    margin-top: 15px;

    h4 {
        margin: 10px 0 0 10px;
    }
}

@-webkit-keyframes fadein {
    50%, 100% {opacity: 1}
}

.todos-inner {
    // box-shadow: 0 1px 0 5px #a9bfcc inset;
    border: 5px solid #a9bfcc;
    width: 98%;
    left:-1px;
    height:271px; 
    overflow:scroll;
    position:relative;
    // background-color: rgba(80, 96, 96,0.7);

    ul {
        text-indent: -5px;
        margin: 10px 10px 10px 10px;
        // list-style: circle outside none;
    }

    li {
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size:1.1em;
        // color: #1f3b51;
        color: #b2d8dc;
        margin: 5px;
        width:100%;
        position: relative;
    }

    .checkbox {
        width: 10px; 
        height: 10px; 
        background-color:#fff; 
        display:inline-block;
        opacity: 0.6;
        cursor:pointer;
    }

    .checkbox:hover {
        opacity:0.9;
    }

    .textarea {
        font-family: 'Joystix';
        font-size: 1.2em;
        color:#b2d8dc;
        border: none;
        display:inline-block; 
        vertical-align: middle;
        min-height: 10px;
        width:90%;
        padding-left:5px;
    }

    .textarea:focus {
        outline: 0;
    }

}

::-webkit-scrollbar {
    width: 13px;
    height: 0;
}

::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    // border-radius: 10px;
    background-color:#d6eaeb;
}
 
::-webkit-scrollbar-thumb {
    // border-radius: 10px;
    background-color:#89a0a2;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.button-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 10px 0 10px;
    // opacity: 0.8;
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
    cursor:pointer;
}

.button-icon:hover {
    opacity: 1.0;
}

.rotate-hover {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
}

.rotate-hover:hover {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 10s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: forwards;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

.gear-background {
    fill: #a8becb;
}

.gear-outer {
    fill: #54686e;
}

.gear-outer-shadow {
    fill: #263a41;
}

.gear-inner-shadow {
    fill: #97b7ca;
}

.gear-inner {
    fill: #a8becb;
}

.gear-inner-rim {
    fill: #263a41;
}

.gear-center {
    fill: #a8becb;
}