/*
 * STATUS.HTML
 */

.expbar {
    width: 204px;
    height: 26px;
    background-image:url('../assets/images/expbar.png');
    background-position:center;
    position:relative;
    top:-1px;
}

.expbar_fill {
    position:relative;
    height: 23px;
    margin: 10px auto 20px auto;
    background-color: #78d2da;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.left {
    width:40%;
    height:100%;
    margin: 0;
    display:inline-block;
    vertical-align: top;
}

.right {
    width:60%;
    height:100%;
    margin:0;
    display:inline-block;
    vertical-align: top;
}

.avatar-card {
    // background-image:url('../assets/images/avatar_card.png');
    // background-repeat:no-repeat;
    background-color:rgba(181, 203, 219, 0.5);
    margin: 0 10px;
    width:70%;
    height:200px;
    border-radius:5px;
    display: inline-block;
}

.avatar {
    // width:100%;
    // height:100%;
    // background-image:url('../assets/images/avatar_test.png');
    // background-repeat:no-repeat;
}

.tooltip-center .qtip-content{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Joystix';
}

.attributes li {
    display:inline;
}

.attribute {
    display:inline-block;
    width: 95px; 
    height:13px; 
    // background-color:#4bc3ce;
    border-radius: 10px;
    border: 3px #78d2da solid;
    vertical-align:middle;
    margin: 0 5px 5px 5px;
}

.attribute-fill {
    background-color:#4bc3ce;
    border-radius:10px;
    width:0%;
    height:100%;
    -webkit-transition: width 3s;
}

.gender-symbol {
    width: 47px;
    height: 50px;
    background-repeat:no-repeat;
    background-position: center;
    background-size:contain;
    opacity: 0.6;
}

.gender-symbol:hover {
    opacity: 1.0;
}

.grid-block {
    display: inline-block;
    vertical-align: middle;
}

.todos {
    background-color: rgba(230, 246, 247, 0.1);
    border: 5px solid #576b76;
    opacity: 0;
    -webkit-animation: fadein 2s forwards;
    width:100%; 
    height:280px; 
    margin-top: 15px;
}

@-webkit-keyframes fadein {
    50%, 100% {opacity: 1}
}

.todos-inner {
    // box-shadow: 0 1px 0 5px #a9bfcc inset;
    border: 5px solid #a9bfcc;
    width: 97%; 
    height:271px; 
    overflow:scroll;

    ul {
        text-indent: -5px;
        margin: 10px 10px 10px 10px;
        // list-style: circle outside none;
    }

    li {
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size:1.1em;
        // color: #1f3b51;
        color: #b2d8dc;
        margin: 5px;
        width:100%;
    }

    .checkbox {
        width: 10px; 
        height: 10px; 
        background-color:#fff; 
        display:inline-block;
        opacity: 0.6;
        cursor:pointer;
    }

    .checkbox:hover {
        opacity:0.9;
    }

    .textarea {
        font-family: 'Joystix';
        font-size: 1em;
        color:#b2d8dc;
        background-color: rgba(0,0,0,0);
        border: none;
        display:inline-block; 
        vertical-align: middle;
        min-height: 10px;
        width:90%;
        padding-left:5px;
    }

    .textarea:focus {
        outline: 0;
    }

}

::-webkit-scrollbar {
    width: 13px;
    height: 0;
}

::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    // border-radius: 10px;
    background-color:#d6eaeb;
}
 
::-webkit-scrollbar-thumb {
    // border-radius: 10px;
    background-color:#89a0a2;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
