<link rel="stylesheet" href="styles/newcharacter.css">

<div class="animate-screen">
<div class="container">
	<h2 class="text-center sheen">Pick Your Gender!</h2>
</div>

<div class="console-name">
	<div class="console-name-inner">
		<h4 class="typed typed2" style="margin: 15px 10px 10px 10px; font-size: 1.1em; opacity: 0">>{{name}}.. nice name! What gender are you?</h4><!-- <span style="margin:0 0 10px -10px; height: 15px;"></span> -->
	</div>
</div>

<div class="gender-picker text-center">
	<div class="grid-block gender-symbol" style="
				background-image:url('../assets/images/gender_symbols/1.png');"
				ng-click="pickGender(1)"
				>
	</div><div class="grid-block" style="width:10%; height: 150px;">

	</div><div class="grid-block gender-symbol" style="
				background-image:url('../assets/images/gender_symbols/2.png');"
				ng-click="pickGender(2)"
	>
	</div><div class="grid-block" style="width:10%; height: 150px;">

	</div><div class="grid-block gender-symbol" style="
				background-image:url('../assets/images/gender_symbols/3.png');"
				ng-click="pickGender(3)"
	>
</div>

</div>