<div class="animate-screen">

    <h1 class="text-center sheen">{{data.name}}</h1>

    <h4 class="text-center level_info">Level {{data.level}} {{data.className}}</h4>

    <expbar />
    

    <div class="container">
    	<div class="left text-center" style="">
	    	<div class="avatar-card" style="background-color:{{genderColor}}">
	    		<div class="avatar"></div>
	    	</div>
            <gendericon gender="1" box-length="50" color="{{genderColor}}"/>
    	</div><div class="right">
    		<ul>
                <!-- <li>Race: </li> -->
    			<!-- <li>Alignment: TBD</li> -->
                <li>Birthday: {{birthdayString}}</li>
    		</ul>
            <attributes/>
            <div class="todos">
                <div class="todos-inner">
                    <h4 class="sheen text-center">QUEST JOURNAL</h4>
                    <ul>
                        <li ng-repeat="todo in todos">
                            <div class="checkbox" ng-click="completeTodo($event, todo, $index)"></div>
                            <div spellcheck="false" contenteditable="true" class="textarea" ng-keydown="keyDown($event, todo, $index)" ng-model="todo[1]"></div>
                        </li>
                    </ul>
                </div>
            </div>
    	</div>
    </div>

</div>
