
<div class="text-center">

    <h1>{{data.name}}</h1>

    <h4>Level {{data.level}} Programmer</h4>

    <div class="expbar_fill" style="
        left: -{{204/2 * (1-data.expPercent)}}px;
        width: {{204*data.expPercent}}px;
        ">
        <div class="expbar" tooltip tooltip-content="{{data.expPercent*100}}"></div>
    </div>

    <div class="container">
    	<div class="left">
	    	<div class="avatar-card">
	    		<div class="avatar"></div>
	    	</div>
    	</div>
    	<div class="right">
    		<ul>
    			<li>Birthday: 10/9</li>
    			<li>Alignment: Lawful Good</li>
    			<li>Status:</li>
    		</ul>
    	</div>
    </div>

</div>
